.writingColor {
    color: white;
}

.a {
  color: white;
  font-family: Georgia, serif;
}

.b {
  box-shadow: 3px 3px 5px;
}

.c {
  color:white;
  font-family: Arial, sans-serif;
}

.d {
  color:black;
  font-family:'Times New Roman', Times, serif;
}




